<div class="jumbotron">

    <form name="contatoForm">
        <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome Ex:Matheus"/>
        <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone Ex:(xx) xxxx-xxxx"/>
        <button class=" btn btn-success btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
        <a class="btn btn-primary btn-block" href="#/contatos">Voltar</a>
    </form>
</div>