<html ng-app="listaTelefonica">
    <head>
        <link rel="shortcut icon" href="#">
        <title>Lista Telefonica</title>
        <link rel="stylesheet" type="text/css" href="lib/boostrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-messages.js"></script>
        <script src="lib/angular/angular-locale_pt-br.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/listaTelefonicaCtrl.js"></script>
        <script src="js/services/agendaAPIServices.js"></script>
        <script src="js/services/configValue.js"></script>
        <script src="js/services/serialGeneratorService.js"></script>
        <script src="js/config/serialGeneratorConfig.js"></script>
        <script src="js/filters/nameFilter.js"></script>
        <script src="js/filters/ellipsisFilter.js"></script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h3 >{{app}}</h3>
            <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="Ex: Matheus"/>
            <table class="table table-bordered">
                <tr class="elementos">
                    <th></th>
                    <th>Serial</th>
                    <th> <a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th> <a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>                
                </tr>
                <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criterioDeOrdenacao :direcaoDaOrdenacao">
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{contato.serial}}</td>
                    <td>{{contato.nome |  name | elipsis: 12}}</td>
                    <td>{{contato.telefone}}</td>
                </tr>
            </table>
            <hr/>
            <form name="contatoForm">
                <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome Ex:Matheus"/>
                <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone Ex:(xx) xxxx-xxxx"/>
                <button class=" btn btn-success btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
                <button class=" btn btn-danger btn-block" ng-click="deletarContato(contato.selecionado)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
                
            </form>
        </div>
    </body>
    <div ng-include="'view/footer.html'">

    </div>
</html> 